<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.example.android.testing.notes"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
                android:name=".notes.NotesActivity"
                android:theme="@style/AppTheme.OverlapSystemBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".notedetail.NoteDetailActivity" />
        <activity android:name=".addnote.AddNoteActivity" />
        <activity android:name=".statistics.StatisticsActivity" />
    </application>

</manifest>
